{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if review.imageName %}
                <img src="{{ vich_uploader_asset(review, 'imageFile') }}" alt="{{ review.title }}" class="img-responsive img-rounded" />
                {% endif %}
            </div>
            <div class="col-sm-12">
                <h1 class="title">{{ review.title }}</h1>
                <p class="text-muted">Publiée par <a href="#">{{ review.user.username }}</a></p>

                <p>{{ review.synopsis }}</p>
            </div>
        </div>

        <hr>

        <h2>Critiques</h2>
        {% for critic in review.critics %}
            {{ include('critic/show.html.twig', { 'critic': critic }) }}
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
